* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Cardo;
    background-color: #EAE8E9;
}

h {
    font-family: Cardo;
}

p {
    font-family: Lato;
}

.firstscreendiv {
    background-color: #EAE8E9;
    width: 100%;
    height: 38rem;
}

.nav {
    display: flex;
    width: 100%;
    position: relative;
    height: 8em;
    flex-direction: row;
    justify-content: space-between;
}

.items {
    width: 50%;
    position: relative;
    padding-top: 3.125rem;
    padding-bottom: 27px;
    margin-left: 7rem;
}

.items ul {
    display: inline;
}

.items ul li {
    display: inline;
    font-weight: bolder;
    list-style-type: none;
    padding: 30px;
    font-size: 20px;
    color: grey;
}

.items ul li:nth-child(1) {
    color: black;
}

.contact {
    position: relative;
    margin-right: 8.6em;
    margin-top: 44px;
}

.contactbutton {
    background-color: #EAE8E9;
    font-family: Lato;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 1000;
    padding: 8px 2.8em 9px;
    border-radius: 5px;
}

.main {
    display: flex;
    z-index: 1;
    margin-left: 11%;
    margin-right: 11%;
    padding-top: 14px;
    height: 24rem;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

.leftcontent {
    width: 47%;
}

h1 {
    width: 89%;
    font-size: 77px;
    font-weight: bolder;
    line-height: 4.6rem;
}

.paragraph {
    width: 73%;
    padding-top: 20px;
    font-size: small;
}

.ticket {
    font-family: Lato;
    color: white;
    font-weight: bolder;
    background-color: black;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 7%;
    border: none;
}

.firstmountain {
    width: 50%;
    height: 80%;
    background-color: azure;
    padding-bottom: 10px;
}

#first {
    width: 100%;
    height: 114%;
}

.leftgreydesign {
    position: absolute;
    width: 44%;
    height: 67%;
    top: 36%;
    overflow: hidden;
}

#leftgreydesign {
    width: 100%;
    height: 168%;
}

.rightblackdesign {
    position: absolute;
    top: 65%;
    width: 7%;
    height: 38%;
    margin-left: 93%;
    overflow: hidden;
}

#rightblackdesign {
    overflow: hidden;
    width: 99%;
    height: 115%;
}

.secondscreendiv {
    position: relative;
    background-color: #1E1E1E;
    width: 78.5rem;
    padding-bottom: 53px;
}

.outside {
    width: 100%;
    height: 70%;
}

.leftwhitedesign {
    padding-top: 15px;
    width: 24rem;
    height: 19rem;
}

#leftwhitedesign {
    width: 100%;
    height: 50%;
}

.centerarea {
    position: absolute;
    top: 12%;
    width: 35%;
    height: 87%;
    margin-left: 33%;
}

.rightwhitedesign {
    position: absolute;
    width: 28%;
    top: 55%;
    height: 26%;
    right: 0%;
}

#rightwhitedesign {
    width: 100%;
    height: 100%;
}

h2 {
    color: white;
    width: 97%;
    font-size: 53px;
    font-weight: bolder;
    line-height: 3.3rem;
    text-align: center;
}

#text {
    text-align: center;
    color: white;
    margin-top: 32px;
}

.travelbutton {
    font-family: Lato;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    background-color: #1E1E1E;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 10%;
    margin-left: 26%;
    border: 2px solid white;
}

.thirdscreendiv {
    position: relative;
    background-color: #EAE8E9;
    width: 78.5rem;
    height: 40rem;
    padding-top: 21px;
}

.inside {
    display: flex;
    padding-left: 4px;
    margin-left: 10%;
    width: 82%;
    height: 79%;
    margin-top: 6%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.one {
    width: 33.33%;
    height: 100%;
}

.two {
    width: 33.33%;
    height: 100%;

}

.three {
    width: 32.5%;
    height: 100%;
}

.gallery {
    margin: 5px;
    float: left;
    width: 96%;
}

#dream {
    width: 95%;
    height: 218px;
}

h3 {
    font-size: 35px;
    font-weight: 1000;
    width: 73%;
    line-height: 2.2rem;
    padding-top: 1.5rem
}

.border {
    border-top: 4px solid black;
    height: 2px;
    width: 19%;
}

.description {
    text-align: left;
}

#description {
    padding-top: 26px;
    width: 104%;
    font-size: 14px;
}

.outerleftdesign {
    position: absolute;
    width: 3%;
    height: 81%;
    top: 2%;
}

#outerleftdesign {
    width: 100%;
    height: 100%;
}

.outerrightdesign {
    position: absolute;
    width: 4%;
    height: 46%;
    top: 54%;
    margin-left: 96%;
}

#outerrightdesign {
    width: 100%;
    height: 100%;
}

.fourthscreendiv {
    position: relative;
    width: 80%;
    height: 37rem;
    margin-top: 2%;
}

#aeroplane {
    width: 3rem;
    height: 3rem;
    margin-top: 14%;
    margin-left: 62%;
}

.maintext {
    padding-left: 10%;
}

h4 {
    width: 54%;
    height: 10%;
    font-size: 63px;
    margin-left: 34%;
    padding-top: 4%;
}

#bottomtext {
    margin-top: 3%;
    font-size: 20px;
    margin-left: 30%;
    font-weight: 700
}

.blacksign {
    width: 34%;
    height: 21%;
    margin-left: 16%;
}

#blacksign {
    width: 100%;
    height: 100%;
}

.sidedesign {
    position: absolute;
    width: 20%;
    height: 37rem;
    top: 56%;
    right: 0%;
    margin-top: 66%;
    padding-top: 30%;
}

#sidedesign {
    width: 100%;
    height: 100%;
}

.fifthscreendiv {
    display: flex;
    position: relative;
    width: 100%;
    height: 42rem;
    margin-top: 5%;
    background-color: #EAE8E9;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left {
    width: 40%;
    margin-left: 62px;
    height: 100%;
    margin-top: 2%;
}

#river {
    margin-left: 52px;
    width: 100%;
    height: 100%;
}

.tape {
    position: absolute;
    width: 4%;
    height: 27%;
    top: 44%;
    margin-left: 27px;
}

#tape {
    width: 100%;
    height: 100%;
}

.right {
    width: 45%;
    margin-right: 36px;
    height: 100%;
    margin-top: 2%;
}

.mountain {
    width: 64%;
    height: 44%;
}

#mountain {
    width: 100%;
    height: 100%;
}

.downtext {
    width: 99%;
    height: 51%;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lefthead {
    width: 41%;
    height: 98%;
}

#lefthead {
    font-family: Cardo;
    color: black;
    width: 76%;
    height: 98%;
    font-size: 38px;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.righttext {
    margin-top: 10px;
    width: 48%;
    height: 184%;
    margin-right: 56px;
}

#arrow {
    margin-top: 19%;
    width: 43%;
    height: 15%;
    margin-left: 46%;
}

.sixthscreendiv {
    position: relative;
    background-color: #1E1E1E;
    width: 78.5rem;
    padding-bottom: 20px;
    margin-top: 7%;
    height: 39rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.leftparagraph {
    width: 37%;
    margin-left: 10%;
    height: 82%;
    margin-top: 6%;
}

h5 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-left: 0%;
    margin-top: 2%;
    line-height: 3.2rem;
}

#head {
    color: white;
    margin-top: 8%;
    width: 90%;
    font-size: 30px;
    font-weight: 800;
}

#details {
    color: white;
    margin-top: 3%;
    width: 90%;
    font-size: 15px;
}

.trekphoto {
    width: 40%;
    margin-right: 10%;
    height: 74%;
    margin-top: 6%;
}

#trekphoto {
    width: 100%;
    height: 100%;
}

.seventhscreendiv {
    position: relative;
    margin-top: 2%;
    width: 100%;
    height: 98%;
    padding-top: 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.leftsection {
    height: 80%;
    width: 49%;
    margin-left: 10%;
}

.mainheading {
    font-size: 62px;
    line-height: 62px;
    margin-bottom: 123px;
    font-weight: 900;
}

.line {
    padding: 17px 20px;
    border-bottom: 2px solid black;
}

.line>p {
    font-size: 12px;
    display: inline-block;
}

.plus {
    float: right;
    width: 30px;
    height: 30px;
}

#plusicon {
    width: 100%;
    height: 100%;
}

.rightsection {
    width: 27%;
    margin-right: 9%;
}

#manmountain {
    width: 100%;
    height: 100%;
}

.eighthscreendiv {
    position: relative;
    margin-top: 2%;
    width: 100%;
    height: 98%;
    padding-top: 7%;
}

.linedesign {
    margin-top: 3%;
    width: 20%;
    height: 15%;
}

.eighthscreendiv>p {
    margin: auto;
    text-align: center;
    width: 413px;
    line-height: 55px;
    font-size: 51px;
    margin-bottom: 63px;
}

.customerCard {
    width: 86%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}

.customer {
    position: relative;
    padding: 8px 13px;
    width: 28%;
    border: 2px solid black;
    border-radius: 7px;
    display: inline-block;
    margin-right: 20px;
}

.leftarrow {
    position: absolute;
    border: 2px solid black;
    border-radius: 7px;
    background-color: #eeeeee;
    left: 89px;
    bottom: 18%;
    width: 5%;
    height: 49px;
    z-index: +1;
}

#leftarrow {
    width: 92%;
    height: 93%;
}

.rightarrow {
    position: absolute;
    border: 2px solid black;
    border-radius: 7px;
    background-color: #eeeeee;
    right: 57px;
    bottom: 18%;
    width: 5%;
    height: 49px;
    z-index: +1;
    transform: rotate(180deg);
}

#rightarrow {
    width: 92%;
    height: 93%;
}

.customerImgDiv {
    width: 46%;
    margin: 29px auto;
}

.customerText>h1 {
    margin: auto;
    font-size: 20px;
    width: fit-content;
    font-family: lato;
    margin-bottom: 10px;
}

.customerText>P {
    text-align: center;
    font-size: 11px;
    word-spacing: 5px;
    margin-bottom: 15px;
}

.curvedesign {
    width: 32.4%;
    padding-top: 22px;
    position: absolute;
    right: 0%;
}

.formpage {
    position: relative;
    margin-top: 13%;
    margin-left: 10%;
    width: 82%;
    height: 40rem;
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lefttext {
    display: inline-block;
    width: 36%;
}

.lefttext>p {
    font-size: 68px;
    margin-bottom: 41px;
    line-height: 1;
    font-weight: 600;
    font-family: Cardo;
}

input {
    padding: 13px 15px;
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    width: 100%;
    font-size: 12px;
    background-color: transparent;
    margin-bottom: 17px;
}

textarea {
    width: 100%;
    height: 217px;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 13px 15px;
    background-color: transparent;
}


input::placeholder,
textarea::placeholder {
    color: black;
}

#submit {
    padding: 13px;
    width: 109%;
    border: none;
    background-color: #232323;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 39px;
}

.imagearea {
    float: right;
    width: 55%;
}

#rivermountain {
    width: 100%;
    height: 98%;
}

.lastpage {
    padding: 6% 10%;
    background-color: #c4c4c4;
    position: absolute;
    width: 80%;
    left: 0;
    margin-top: 2%;
}

.lastheading {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.lastheading>p {
    font-size: 40px;
    line-height: 39px;
    font-weight: 900;
}

.lastright {
    float: right;
    width: 75%;
}

#quick {
    font-size: 14px;
    font-family: lato;
    margin-bottom: 24px;
    font-weight: 900;
}

.lastlinkblock {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lastlinks {
    margin-right: 16%;
}

.lastlinks>p {
    font-size: 12px;
    margin-bottom: 14px;
}

.lasttext {
    font-size: 12px;
    margin-top: 54px;
    margin-left: 21%;
    color: black;
}

.lastdesign {
    width: 22%;
    position: absolute;
    left: 0;
    bottom: 20px;
}

@media (max-width: 1232%) {}

@media (max-width:435) {
    .items{
         position: relative;
         width: 100%;
         height: 20px;
    }
}